<ul>
  <li><% if current!='index' %><a href="/"><% end %>index<% if current!='index' %></a><% end %></li>
  <li><% if current!='map' %><a href="map"><% end %>map<% if current!='map' %></a><% end %></li>
  <li><% if current!='donate' %><a href="donate"><% end %>donate<% if current!='donate' %></a><% end %></li>
  <li><% if current!='thanks' %><a href="thanks"><% end %>thanks<% if current!='thanks' %></a><% end %></li>
  <li><% if current!='playlist' %><a href="playlist"><% end %>playlist<% if current!='playlist' %></a><% end %></li>
  <li><% if current!='addsong' %><a href="addsong"><% end %>addsong<% if current!='addsong' %></a><% end %></li>
</ul>