<%= erb :_menu, :locals => { :current => 'addsong' } %>

<div class="page">
  <div class="welcome">
    <div class="playlist">
      <div class="inner">

        this is where the select-a-song form goes

        <% if @loggedin == true %>
          
          <form action="/search">
          <input type="text" name="song" value="type a song's name or artist here" />
          <input type="submit" />
          </form>

        <% else %>

          <p>please <a href="/login">login</a><p>

        <% end %>

      </div>
      <span class="border"></span>
    </div>
  </div>
</div>