<div class="page">
  <a href="/" class="close" title="Close song selector">X</a>
  <div class="panel">
    <div class="playlist">
      <div class="inner">

        <h1>Pick your track</h1>

        <% if @loggedin == true %>
          
          <form action="/search" class="search-spotify clearfix">
          <input type="text" name="song" value="What song or artist are you looking for?" />
          <input type="submit" />
          </form>

        <% else %>

          <p>please <a href="/login">login</a><p>

        <% end %>

      </div>
    </div>
  </div>
</div>
<div class="playlistpose"></div>