<%= erb :_menu, :locals => { :current => 'addsong' } %>

<div class="page">
  <div class="panel">
    <div class="playlist">
      <div class="inner">

        <h1>Pick your track</h1>

        <% if @loggedin == true %>
          
          <form action="/search">
          <input type="text" name="song" value="Type a song's name or artist here" />
          <input type="submit" />
          </form>

        <% else %>

          <p>please <a href="/login">login</a><p>

        <% end %>

      </div>
    </div>
  </div>
</div>