<div class="page">
  <div class="panel">
    <div class="playlist playlist-mix">
        <div class="inner">
          <h1>The marathon mix</h1>
          <ul>
              <% for item in data %>
              <li>
                <span class="track-name"><%= item['name'] %></span> by 
                <span class="track-from"><%= item['artist'] %></span> 
              </li>
            <% end %>
          </ul>
          <a href="/addsong" class="cta-donate">Donate to add your song to the marathon mix</a>
        </div>

    </div>
  </div>
</div>

<div class="playlistpose"></div>