 

<div class="page">
  <div class="songs">
    <div class="playlist">      
        
        

        <!-- <p class="playlistTitle">The marathon mix</p> -->

        <div class="inner" style="padding:0;margin:0">
          <ul style="padding:0;margin:0">
              <% for item in data %>
              <li>
                <b><%= item['name'] %></b> by 
                <b><%= item['artist'] %></b> 
              </li>

            <% end %>
          </ul>
          <p style="padding:0;margin:0"><a href="/addsong">Give your cash to add your fave track</a></p>
        </div>

        <span class="border"></span>
    </div>
  </div>
</div>

<div class="playlistpose"></div>